.cookie {
   position: fixed;
   bottom: 0;
   right: 0;
   left: 0;
   z-index: 1030;
   background-color: rgb(230, 230, 230);
   color: #323232;
   min-width: 100%;
   text-align: center;
   line-height: 20px;
   word-break: break-all;
   opacity: 0;
   visibility: hidden;
   z-index: -1;


   .content {
      padding: 15px 30px;

      span {
         margin-right: 1em;
         display: inline-block;
      }

      .button-group {
         text-align: center;
         display: inline-block;
      }

      .cookie-accept {
         background-color: $primary-blue;
      }

      .cookie-decline {
         background-color: $dark-blue;
      }

      .btn {
         text-align: center;
         color: #fff;
      }

      .btn+.btn {
         margin-left: 0.5rem;
      }
   }
}

.fade-in-up {
   animation: fade-in-up ease 1s;
   animation-iteration-count: 1;
   transform-origin: 50% 50%;
   animation-fill-mode: forwards;
   -webkit-animation: fade-in-up ease 1s;
   -webkit-animation-iteration-count: 1;
   -webkit-transform-origin: 50% 50%;
   -webkit-animation-fill-mode: forwards;
   -moz-animation: fade-in-up ease 1s;
   -moz-animation-iteration-count: 1;
   -moz-transform-origin: 50% 50%;
   -moz-animation-fill-mode: forwards;
   -o-animation: fade-in-up ease 1s;
   -o-animation-iteration-count: 1;
   -o-transform-origin: 50% 50%;
   -o-animation-fill-mode: forwards;
}

.fade-out-down {
   animation: fade-out-down ease 1s;
   animation-iteration-count: 1;
   transform-origin: 50% 50%;
   animation-fill-mode: forwards;
   -webkit-animation: fade-out-down ease 1s;
   -webkit-animation-iteration-count: 1;
   -webkit-transform-origin: 50% 50%;
   -webkit-animation-fill-mode: forwards;
   -moz-animation: fade-out-down ease 1s;
   -moz-animation-iteration-count: 1;
   -moz-transform-origin: 50% 50%;
   -moz-animation-fill-mode: forwards;
   -o-animation: fade-out-down ease 1s;
   -o-animation-iteration-count: 1;
   -o-transform-origin: 50% 50%;
   -o-animation-fill-mode: forwards;

   opacity: 1;
   visibility: visible;
   z-index: 1035;
}

@keyframes fade-out-down {
   0% {
      opacity: 1;
      -webkit-transform: translate(0px, 0px);
      transform: translate(0px, 0px);
   }

   100% {
      opacity: 0;
      visibility: hidden;
      z-index: -1;
      -webkit-transform: translate(0px, 300px);
      transform: translate(0px, 300px);
   }
}

@-webkit-keyframes fade-out-down {
   0% {
      opacity: 1;
      -webkit-transform: translate(0px, 0px);
   }

   100% {
      opacity: 0;
      visibility: hidden;
      z-index: -1;
      -webkit-transform: translate(0px, 300px);
   }
}

@keyframes fade-in-up {
   0% {
      opacity: 0;
      visibility: visible;
      z-index: 1035;
      -webkit-transform: translate(0px, 300px);
      transform: translate(0px, 300px);
   }

   75% {
      -webkit-transform: translate(0px, 0px);
      transform: translate(0px, 0px);
   }

   100% {
      opacity: 1;
      visibility: visible;
      z-index: 1035;
   }
}

@-webkit-keyframes fade-in-up {
   0% {
      opacity: 0;
      visibility: visible;
      z-index: 1035;
      -webkit-transform: translate(0px, 300px);
   }

   75% {
      -webkit-transform: translate(0px, 0px);
   }

   100% {
      opacity: 1;
      visibility: visible;
      z-index: 1035;
      -webkit-transform: translate(0px, 0px);
   }
}