#download {
  background-color: $middle-blue;
  min-height: 100vh;
  position: relative;

  h1 {
    font-size: 4.4rem;
    color: $black;
    text-transform: uppercase;
    font-family: "Montserrat", Arial;
    font-weight: 700;
  }

  .download {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    @include media-breakpoint-down(md) {
      top: 60%;
      transform: translateY(-60%);
    }

    h1,
    p {
      text-align: center;
      color: $black !important;
    }

    .download-text {
      padding: 0;
      margin-top: 3rem;
      margin-bottom: 0;
    }

    .download-group {
      display: block;
      margin-top: 0.5rem;
      padding-bottom: 3rem;
      text-align: center;

      .btn {
        position: relative;
        border-radius: 0;
        height: 8em;
        width: 8em;
        margin: 0.5rem;
        text-align: center;
        background-color: $middle-blue;
        color: white;

        &:hover {
          background-color: #09F;
        }

        i {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 4rem;
          margin-top: 0.6rem;
        }
      }
    }

    #patchnotes {
      position: absolute;
      bottom: 0;
      left: 0;
      right: auto;
      color: $black;
      font-size: 1rem;
      padding: 0.25rem 0.5rem;

      &:hover {
        opacity: 0.8;
      }

      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      .card-update {
        position: absolute;
        bottom: 5px;
        right: 8px;
      }
    }
  }
}