@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Germania+One&display=swap");
@font-face {
  font-family: "Plain";
  src: url("../../../lib/fonts/Plain/Plain-Regular.woff2") format("woff2"),
    url("../../../lib/fonts/Plain/Plain-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Plain";
  src: url("../../../lib/fonts/Plain/Plain-Light.woff2") format("woff2"),
    url("../../../lib/fonts/Plain/Plain-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Plain";
  src: url("../../../lib/fonts/Plain/Plain-Bold.woff2") format("woff2"),
    url("../../../lib/fonts/Plain/Plain-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Kurrent";
  src: url("../../../lib/fonts/18thCtrKurStart.ttf") format("truetype");
}
