.member {
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding-top: 180px;
    padding-bottom: 180px;
    color: #fff;
    background: rgb(0, 170, 238);
    background: linear-gradient(93deg, rgba(0, 170, 238, 1) 0%, rgba(0, 109, 226, 1) 65%, rgba(17, 34, 102, 1) 100%);

    h1 {
        font-family: 'Plain', sans-serif;
        text-transform: uppercase;
        font-weight: bold;
    }

    .container {
        display: flex;
        justify-content: space-around;

        @include media-breakpoint-down(md) {
            justify-content: center;
            align-items: center;
            flex-direction: column-reverse;
            text-align: center;

            .carousel-control-prev {
                left: -15px;
            }

            .carousel-control-next {
                right: -15px;
            }
        }

        .carousel,
        .member-text {
            width: 100%;
        }

        .carousel-item {
            padding-left: 4.2rem;
            padding-right: 4.2rem;

            @include media-breakpoint-down(md) {
                padding-left: 2rem;
                padding-right: 2rem;
            }
        }

        .carousel-control-prev,
        .carousel-control-next {
            opacity: 0.9;

            span {
                display: inline-block;
                width: 1.6rem;
                height: 1.6rem;
                background-repeat: no-repeat;
                background-position: 50%;
                background-size: 100% 100%;
            }
        }

        .carousel-control-next span {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
        }

        .carousel-control-prev span {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e")
        }

        .members {
            display: flex;
            justify-content: center;
            align-content: center;

            .card {
                color: #333;
                border: 0;
                border-radius: 0;
                box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);

                img {
                    border-radius: 0;
                }
            }
        }
    }
}