.navbar-pseudo {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 80px;
  z-index: 1029;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
  color: $white;
  padding: 0.5rem 1rem !important;
  transition: 0.5s;
  background-color: transparent;
  transition: 0.5s;
  background-color: transparent;
  min-height: 80px;

  a {
    font-weight: 500;
    color: white;

    &:hover {
      color: #ffffffb0;
    }
  }

  .nav-link {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    padding-right: 20px !important;
    padding-left: 20px !important;
  }

  .navbar-brand {
    position: absolute;
    left: 30px;
    margin-bottom: 0.7rem;
    font-family: "Plain";
    font-weight: bold !important;
    font-style: normal;
    font-size: 26px;
    text-transform: uppercase;
    z-index: 1;

    @include media-breakpoint-down(md) {
      display: none;
    }

    &:hover {
      color: inherit !important;
      opacity: 1 !important;
    }
  }

  .navbar-nav {
    position: absolute;
    right: 0;
    width: 100%;
    justify-content: center;

    @include media-breakpoint-down(md) {
      justify-content: start !important;
    }

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  .nav-icon {
    position: absolute;
    left: auto;
    right: 30px;
    margin-bottom: 0.7rem;

    li {
      font-size: 30px;
      cursor: pointer;
      margin-left: 0.8rem;
    }

    .sl-nav {
      display: inline;

      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        position: relative;
        display: inline-block;

        li {
          font-size: 30px;
          cursor: pointer;
          margin-left: 0.8rem;

          &:hover {
            ul {
              position: absolute;
              top: 45px;
              right: -3px;
              display: block;
              background: #fff;
              width: 160px;
              padding-top: 0px;
              z-index: 1;
              border-radius: 5px;
              box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
            }
          }

          button {
            height: 24px;
            width: 24px;
            background-image: url("../img/flags/uk.png");
            border-radius: 50%;
            border: 4px solid #fff;
            background-position: 50% !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
            margin-top: 0.9rem;
          }

          ul {
            display: none;

            li {
              position: relative;
              text-align: left;
              background: transparent;
              padding: 15px 15px;
              padding-bottom: 0;
              z-index: 2;
              font-size: 15px;
              color: #3c3c3c;

              &:hover {
                span {
                  opacity: 0.8;
                }
              }

              .sl-flag {
                display: inline-block;
                box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
                width: 15px;
                height: 15px;
                background: #aaa;
                background-position: 50% !important;
                background-repeat: no-repeat !important;
                background-size: cover !important;
                border-radius: 50%;
                position: relative;
                top: 2px;
                overflow: hidden;
              }

              .flag-de {
                background: url("../img/flags/de.png");
              }

              .flag-uk {
                background: url("../img/flags/uk.png");
              }

              .flag-at {
                background: url("../img/flags/at.png");
              }

              .flag-it {
                background: url("../img/flags/it.png");
              }

              span {
                padding-left: 5px;
              }

              &:last-of-type {
                padding-bottom: 15px;
              }
            }
          }
        }
      }
    }

    .fas {
      line-height: normal;
      font-size: 1.2rem;
    }
  }
}

.navbar-along {
  position: fixed;
  background-color: $white;
  height: 60px;
  box-shadow: 0px -1px 13px 1px rgba(0, 0, 0, 0.3);

  .active {
    color: $primary-blue !important;

    &:hover {
      color: $primary-blue !important;
    }
  }

  .navbar-brand:hover {
    color: $black !important;
  }

  a {
    color: $black;

    &:hover {
      opacity: 1 !important;
      color: $primary-blue;
    }
  }

  .fas {
    color: $black;
    height: auto !important;
  }
}

@include media-breakpoint-down(md) {
  #mobile-navbar {
    padding: 0 !important;
  }
}

.modal {
  overflow-y: scroll;

  .modal-nav {
    height: auto;
    max-width: 636px;
    min-height: calc(45% - 9rem);

    @include media-breakpoint-down(md) {
      min-width: 100%;
      width: 100%;
      height: 100%;
      min-height: 100%;
      margin: 0;
      padding: 0;
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }

      .mn-content {
        height: auto;
        min-height: 100%;
      }
    }

    .modal-content {
      background-color: #f8f5f2;

      .modal-mobile-header {
        color: $white;
        background-color: $primary-blue;
        height: 8rem;
        clip-path: polygon(0 0, 0 100%, 100% 82.5%, 100% 0);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 82.5%, 0 100%);
        border-radius: 0;
        border: none;
        padding: 16px 16px 0 24px;
      }

      .mn-body {
        padding-top: 2rem;

        .mn-button-group a {
          transition: 300ms;
          color: white !important;
          padding: 10px 16px;
          font-size: 0.8rem;
          border-radius: 0;
          border: 2px solid transparent;
          width: calc(50% - 7.19px);
          text-transform: uppercase;

          &:first-child {
            background-color: $dark-blue;
            margin-right: 5px;
            border-color: $dark-blue;

            &:hover {
              background-color: #03C;
              border-color: #03C;
            }
          }

          &:nth-child(2) {
            margin-left: 5px;
            background-color: $middle-blue;
            border-color: $middle-blue;

            &:hover {
              border-color: $primary-blue;
              background-color: $primary-blue;
            }
          }
        }

        .mn-list {
          border-radius: 0;

          .mn-expand {
            svg {
              height: 1.2em !important;
              position: absolute;
              right: 20px;
              top: 15px;
            }

            .rotate svg {
              -webkit-transform: rotate(180deg);
              -moz-transform: rotate(180deg);
              transform: rotate(180deg);
              filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
            }
          }

          small {
            color: #999;
            font-size: 10px;
          }

          a {
            color: $black;
          }

          .list-group-item {
            i {
              color: $black;
              padding-right: 1rem;
            }

            margin-bottom: 2px;
            border: none;
            cursor: pointer;

            &:hover {
              color: $primary-blue;

              i {
                color: $primary-blue;
              }
            }
          }
        }
      }
    }
  }
}

.version {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;

  &::-webkit-scrollbar {
    display: none !important;
  }

  .modal-version {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 100%;

    .modal-content-version {
      height: auto;
      min-height: 100%;
      border-radius: 0;

      .modal-body {
        overflow-x: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
          display: none;
        }

        thead tr th {
          background-color: $primary-blue !important;
          border-color: $primary-blue !important;
        }
      }
    }
  }
}