@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  background: #ff9114;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

@media (max-width: 767.98px) {
  .login-page {
    width: 95%;
  }
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: right;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

@media (max-width: 400.98px) {
  .form {
    padding: 20px;
  }
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form input:disabled {
  opacity: 0.5;
}

option {
  background-color: #f2f2f2;
}

option:hover {
  background-color: #ffa500;
}

option:checked {
  display: none;
}

option[disabled][selected] {
  display: none;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #FFA500;
  width: 80%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.4s ease !important;
  transition: all 0.4s ease !important;
  cursor: pointer;
}

/* .form button:not(.delete) {
  padding-left: calc(15px + 20%) !important;
} */

.button-group {
  display: flex;
}

.delete {
  width: 20% !important;
  padding: 0 !important;
  background-color: #ffa500 !important;
  border-left: 1px solid #fff !important;
}


.form button:hover,
.form button:active,
.form button:focus {
  background: #FFA500;
}

.form input[name="password"],
.form input[name="hash"] {
  margin: 0;
}

.form select[name="user"] {
  background: #f2f2f2;
  font-family: "Roboto", sans-serif;
  outline: 0;
  border: 0;
  width: 100%;
  margin: 0 0 15px;
  padding: 15px;
  font-size: 14px;
  /* styling */
  display: inline-block;
  line-height: 1.5em;

  /* reset */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: calc(47px);
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(#f2f2f2, #f2f2f2);
  background-position: calc(100% - 20px) calc(23px),
    calc(100% - 15px) calc(23px),
    calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

*:focus {
  outline: none;
}

.form .message {
  color: #b3b3b3;
  font-size: 12px;
  margin: 2px 0 15px;
}

.form .message a {
  color: #FFA500;
  text-decoration: none;
}

hr {
  background-color: #ddd;
  border: 0;
  height: 1px;
  margin: 1rem 0;
}

.toggle-other {
  color: #FFA500;
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 12px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
}