@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

@font-face {
   font-family: "Plain";
   src: url("../../../lib/fonts/Plain/Plain-Bold.woff2") format("woff2"),
      url("../../../lib/fonts/Plain/Plain-Bold.woff") format("woff");
   font-weight: bold;
   font-style: normal;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
}

body {
   width: 100%;
   background-color: #fff;
   font-family: 'Roboto', sans-serif;
}

section {
   min-height: 100vh;
}

.container {
   padding: 80px 15px;
   margin-right: auto;
   margin-left: auto;
}

@media (min-width: 768px) {
   .container {
      width: 750px;
   }
}

@media (min-width: 992px) {
   .container {
      width: 970px;
   }
}

@media (min-width: 1200px) {
   .container {
      width: 1170px;
   }
}

.title {
   font-size: 2.25rem;
   font-weight: bold;
   font-family: 'Plain', sans-serif;
   text-align: center;
   padding-bottom: 2rem;
   text-transform: uppercase;
}

.table {
   width: 100%;
   margin-bottom: 1rem;
   color: #212529;
   border-collapse: collapse !important;
}

.table th,
.table td {
   padding: 0.75rem;
   vertical-align: top;
   border-top: 1px solid #dee2e6;
}

.table thead th {
   vertical-align: bottom;
   border-bottom: 2px solid #dee2e6;
}

thead tr th {
   border: none !important;
}

.table tbody+tbody {
   border-top: 2px solid #dee2e6;
}

.table td,
.table th {
   background-color: #fff;
}

#contact tbody td:last-child {
   display: flex;
   justify-content: space-around;
}